<div class="container mt-5">
  <div class="text-center">
    <h2 class="fw-bolder">Find your match</h2>
    <p class="text-muted fst-italic">Come on in to view your matches... All uyou need to do to sign up</p>

    <div class="text-center">
      <button class="btn btn-outline-primary me-2" routerLink="register">Register</button>
      <button class="btn btn-outline-secondary">Learn More</button>
    </div>

    <!-- <app-register (CancelRegist)="CancelRegister($pre)"></app-register> -->
  </div>


</div>